/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("https://cdn.pixabay.com/photo/2018/12/13/18/00/pylon-3873380_640.jpg");
  background-image: url("https://cdn.pixabay.com/photo/2017/08/10/19/55/halloween-2627189_640.jpg");
  background-image: url("https://cdn.pixabay.com/photo/2021/05/02/23/26/red-6224930_640.jpg");
  background-size: 250px;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-color: gray;
}

h1 {
  color: white;
  font-size: 2rem;
}

p {
  color: white;
  font-size: 1.5rem;
  width: 100%;
}
.container {
  background-color: rgba(118, 80, 80, 0.8);
  margin: 5% 15%;
  padding: 20px;
  border: 1px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

button {
  background-color: lightslategray;
  color: white;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2.5px;
  font-size: 1.5rem;
}
button:hover {
  background-color: #cb244e;
  color: white;

  border: 1px solid black;
  border-radius: 5px;
  margin: 2.5px;
  cursor: pointer;
}
.footer {
  text-align: center;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 300px;
}

.move {
  animation: shake;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: scale(0.2);
    transform: rotate(-10deg);
  }

  25% {
    transform: rotate(-30deg);
  }

  30% {
    transform: scale(0.8);
  }

  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(0.2);
    transform: rotate(-10deg);
  }
}

@media screen and (max-width: 1600px) {
  .image {
    width: 90%;
  }
}
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.5;

  background-color: #ffe4d6; /* #fdfce5;*/
  color: #4a403a;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
article {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 800px;
  border-top: 3px solid #d988b9; /* #f9975d;*/
  border-bottom: 3px solid #d988b9; /* #f9975d;*/
  padding: 3rem 0;
}
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 2rem;
  font-family: Georgia, serif;
}
header:after {
  content: "1";
  font-size: 10em;
  color: rgba(176, 87, 141, 0.3); /*rgba(249, 151, 93, 0.25);*/
  position: absolute;
  z-index: -1;
  line-height: 0.75;
  top: 10vh;
}
header h1 {
  font-size: 1.5em;
  line-height: 1.25;
}
header h2 {
  margin-top: 0.25em;
  font-size: 0.75em;
  line-height: 1.375;
}
header h3 {
  margin-top: 2.5em;
  font-size: 0.875em;
  line-height: 1.25;
}
section {
  margin-top: 6rem;
  font-size: 1.25rem;
  font-family: Georgia, serif;
  line-height: 1.75;
}
section > * + * {
  margin-top: 1.5em;
}
section p:first-child {
  font-size: 1.375em;
  line-height: 1.125;
}
button {
  padding: 2rem;
  background-color: rgba(217, 136, 185, 0.7);
  color: #ffe4d6;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: Georgia, serif;
  line-height: 1.75;
  border-radius: 5px;
  font-weight: 700;
  width: 100%;
}
button:hover {
  background-color: #fbdbcb;
  color: #d988b9;
  border-color: #d988b9;
}
.footer {
  text-align: center;
}
