*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.5;

  background-color: #ffe4d6;
  color: #4a403a;
  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
article {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 800px;
  border-top: 3px solid #d988b9;
  border-bottom: 3px solid #d988b9;
  padding: 3rem 0;
}
header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 2rem;
  font-family: Georgia, serif;
}
header:after {
  content: "1";
  font-size: 10em;
  color: rgba(176, 87, 141, 0.3);
  position: absolute;
  z-index: -1;
  line-height: 0.75;
  top: 10vh;
}
header h1 {
  font-size: 1.5em;
  line-height: 1.25;
}
header h2 {
  margin-top: 0.25em;
  font-size: 0.75em;
  line-height: 1.375;
}
header h3 {
  margin-top: 2.5em;
  font-size: 0.875em;
  line-height: 1.25;
}
section {
  margin-top: 6rem;
  font-size: 1.25rem;
  font-family: Georgia, serif;
  line-height: 1.75;
}
section > * + * {
  margin-top: 1.5em;
}
section p:first-child {
  font-size: 1.375em;
  line-height: 1.125;
}
button {
  padding: 2rem;
  background-color: rgba(217, 136, 185, 0.7);
  color: #ffe4d6;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: Georgia, serif;
  line-height: 1.75;
  border-radius: 5px;
  font-weight: 700;
  width: 100%;
}
button:hover {
  background-color: #fbdbcb;
  color: #d988b9;
  border-color: #d988b9;
}
.footer {
  text-align: center;
}
#english:hover {
  cursor: pointer;
  color: #da58a6;
}
