body {
  margin: 0;
  padding: 0;
  background-color: #8d2121;
  background-image: url("woman.jpg");
  background-position: center/cover;
  background-repeat: no-repeat;
  height: 100vh;

  font-family: "Courier New", Courier, monospace;
}
.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 20%;
}
.welcome {
  margin-top: 15vh;
  margin-bottom: 8vh;
}
.main {
  margin-top: 15vh;
  position: relative;
  width: 800px;
}
footer {
  position: absolute;
  color: white;
  top: 90%;
  left: 20%;
  font-size: 25px;
  letter-spacing: -0.1em;
  font-weight: 600;
}
h1 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 220px;
  text-transform: uppercase;
  color: #8d2121;
}

h1:nth-child(2) {
  color: yellow;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
  background-color: black;
}

h1:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

h1:nth-child(1):hover ~ h1 {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}
